In [1]:
import pandas as pd
import numpy as np

In [2]:
data_2010 = pd.read_excel('Resources/ghe2019_deaths-2010-country1ecd319a-cd5c-40f0-81fa-436269e5eb28_edae5af8-7bf8-49a8-8019-d25826b39273.xlsx', header = 6)

data_2010.head()

,Sex,GHE code,Unnamed: 2,GHE cause,Unnamed: 4,Unnamed: 5,Member State\n(See Notes for explanation of colour codes),Afghanistan,Albania,Algeria,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,NaN,NaN,NaN,NaN,NaN,NaN,ISO-3 Code,AFG,ALB,DZA,...,TZA,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,4,...,4,1,2,2,4,1,4,4,4,4
2,Persons,NaN,NaN,Population ('000) (2),NaN,NaN,NaN,29186,2948,35977,...,44347,309011,3359,28516,236,28440,87968,23155,13606,12698
3,Persons,0.0,NaN,All Causes,NaN,NaN,NaN,247.682956,19.663125,157.878158,...,350.304667,2470.479879,32.560358,171.093211,1.75983,138.363827,620.818156,124.496176,127.130431,161.489107
4,Persons,10.0,I.,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,119.259129,0.640847,25.24879,...,230.420889,140.652033,2.597426,22.585118,0.349805,17.07893,79.842624,46.088862,80.624676,100.094334

In [3]:
data_2010.columns

Index(['Sex', 'GHE code', 'Unnamed: 2', 'GHE cause', 'Unnamed: 4',
       'Unnamed: 5',
       'Member State\n(See Notes for explanation of colour codes)',
       'Afghanistan', 'Albania', 'Algeria',
       ...
       'United Republic of Tanzania', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=190)

In [4]:
data_2010.columns = data_2010.columns.str.replace('Unnamed: 4', 'Cause Category').str.replace('Unnamed: 5', 'Disease/Injury').str.replace('Member State\n(See Notes for explanation of colour codes)', 'Condition')
data_2010

,Sex,GHE code,Unnamed: 2,GHE cause,Cause Category,Disease/Injury,Condition,Afghanistan,Albania,Algeria,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,NaN,NaN,NaN,NaN,NaN,NaN,ISO-3 Code,AFG,ALB,DZA,...,TZA,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,4,...,4,1,2,2,4,1,4,4,4,4
2,Persons,NaN,NaN,Population ('000) (2),NaN,NaN,NaN,29186,2948,35977,...,44347,309011,3359,28516,236,28440,87968,23155,13606,12698
3,Persons,0.0,NaN,All Causes,NaN,NaN,NaN,247.682956,19.663125,157.878158,...,350.304667,2470.479879,32.560358,171.093211,1.75983,138.363827,620.818156,124.496176,127.130431,161.489107
4,Persons,10.0,I.,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,119.259129,0.640847,25.24879,...,230.420889,140.652033,2.597426,22.585118,0.349805,17.07893,79.842624,46.088862,80.624676,100.094334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,Females,1590.0,NaN,NaN,8.,Other unintentional injuries,NaN,1.827513,0.039378,0.448402,...,1.863639,8.725492,0.254165,0.371532,0.00702,0.505479,1.409695,0.713021,0.736318,0.940847
617,Females,1600.0,NaN,B.,Intentional injuries,NaN,NaN,3.734643,0.128601,0.587627,...,1.619589,13.138907,0.164066,0.85717,0.011332,1.303982,2.047108,1.01685,0.636572,1.54136
618,Females,1610.0,NaN,NaN,1.,Self-harm,NaN,0.552652,0.089481,0.395459,...,0.632597,9.123402,0.124385,0.650983,0.009612,0.148377,1.867882,0.528485,0.370171,1.14375
619,Females,1620.0,NaN,NaN,2.,Interpersonal violence,NaN,0.404689,0.038961,0.101363,...,0.977458,3.789458,0.039497,0.180163,0.001709,1.153662,0.173307,0.329785,0.265584,0.394385
620,Females,1630.0,NaN,NaN,3.,Collective violence and legal intervention,NaN,2.777301,0.000159,0.090805,...,0.009534,0.226047,0.000184,0.026024,0.000011,0.001943,0.005918,0.15858,0.000817,0.003225

In [5]:
data_2010 = data_2010[['Sex', 'GHE cause', 'Cause Category',
       'Disease/Injury',
       'Condition', 'Germany', 'Netherlands','Switzerland','United Kingdom', 'United States of America',]]
data_2010

,Sex,GHE cause,Cause Category,Disease/Injury,Condition,Germany,Netherlands,Switzerland,United Kingdom,United States of America
0,NaN,NaN,NaN,NaN,ISO-3 Code,DEU,NLD,CHE,GBR,USA
1,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1
2,Persons,Population ('000) (2),NaN,NaN,NaN,80827,16683,7809,63460,309011
3,Persons,All Causes,NaN,NaN,NaN,836.916206,135.344979,62.007484,568.263592,2470.479879
4,Persons,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,38.761482,8.638094,2.251164,41.578183,140.652033
...,...,...,...,...,...,...,...,...,...,...
616,Females,NaN,8.,Other unintentional injuries,NaN,2.871419,0.804296,0.131138,2.531738,8.725492
617,Females,B.,Intentional injuries,NaN,NaN,3.040901,0.547328,0.388628,1.611239,13.138907
618,Females,NaN,1.,Self-harm,NaN,2.791077,0.487841,0.365773,1.208926,9.123402
619,Females,NaN,2.,Interpersonal violence,NaN,0.24372,0.05767,0.02244,0.366879,3.789458
620,Females,NaN,3.,Collective violence and legal intervention,NaN,0.006104,0.001817,0.000415,0.035434,0.226047

In [6]:
data_2010['Sex'].unique()

array([nan, 'Persons', 'Males', 'Females'], dtype=object)

In [7]:
data_2010.loc[data_2010['Sex']=='Persons']

,Sex,GHE cause,Cause Category,Disease/Injury,Condition,Germany,Netherlands,Switzerland,United Kingdom,United States of America
2,Persons,Population ('000) (2),NaN,NaN,NaN,80827,16683,7809,63460,309011
3,Persons,All Causes,NaN,NaN,NaN,836.916206,135.344979,62.007484,568.263592,2470.479879
4,Persons,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,38.761482,8.638094,2.251164,41.578183,140.652033
5,Persons,A.,Infectious and parasitic diseases,NaN,NaN,15.765852,2.280253,0.775718,6.502917,69.796791
6,Persons,NaN,1.,Tuberculosis,NaN,0.353696,0.056716,0.028138,0.376536,0.617954
...,...,...,...,...,...,...,...,...,...,...
202,Persons,NaN,8.,Other unintentional injuries,NaN,5.745752,1.402558,0.353979,4.565952,20.631154
203,Persons,B.,Intentional injuries,NaN,NaN,11.476067,1.793286,1.182099,6.09579,58.978579
204,Persons,NaN,1.,Self-harm,NaN,10.700724,1.636111,1.130185,4.970172,40.4821
205,Persons,NaN,2.,Interpersonal violence,NaN,0.760278,0.152079,0.0511,1.013923,16.912475
206,Persons,NaN,3.,Collective violence and legal intervention,NaN,0.015065,0.005096,0.000815,0.111695,1.584004

In [8]:
data_2010_summary = data_2010.loc[data_2010['Sex']=='Persons']
data_2010_summary

,Sex,GHE cause,Cause Category,Disease/Injury,Condition,Germany,Netherlands,Switzerland,United Kingdom,United States of America
2,Persons,Population ('000) (2),NaN,NaN,NaN,80827,16683,7809,63460,309011
3,Persons,All Causes,NaN,NaN,NaN,836.916206,135.344979,62.007484,568.263592,2470.479879
4,Persons,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,38.761482,8.638094,2.251164,41.578183,140.652033
5,Persons,A.,Infectious and parasitic diseases,NaN,NaN,15.765852,2.280253,0.775718,6.502917,69.796791
6,Persons,NaN,1.,Tuberculosis,NaN,0.353696,0.056716,0.028138,0.376536,0.617954
...,...,...,...,...,...,...,...,...,...,...
202,Persons,NaN,8.,Other unintentional injuries,NaN,5.745752,1.402558,0.353979,4.565952,20.631154
203,Persons,B.,Intentional injuries,NaN,NaN,11.476067,1.793286,1.182099,6.09579,58.978579
204,Persons,NaN,1.,Self-harm,NaN,10.700724,1.636111,1.130185,4.970172,40.4821
205,Persons,NaN,2.,Interpersonal violence,NaN,0.760278,0.152079,0.0511,1.013923,16.912475
206,Persons,NaN,3.,Collective violence and legal intervention,NaN,0.015065,0.005096,0.000815,0.111695,1.584004

In [9]:
data_2010_summary.dtypes

Sex                         object
GHE cause                   object
Cause Category              object
Disease/Injury              object
Condition                   object
Germany                     object
Netherlands                 object
Switzerland                 object
United Kingdom              object
United States of America    object
dtype: object

In [ ]:
# data_2010_summary.iloc[2:, 6:11] = data_2010_summary.iloc[2:, 6:11].replace('', np.nan).astype(float)

In [15]:
import pandas as pd
import numpy as np

# Define a function to remove non-numeric characters
def remove_non_numeric(value):
    return ''.join(filter(str.isdigit, str(value)))

# Convert columns to float types, handling periods ('.') gracefully
countries = ['Germany', 'Netherlands', 'Switzerland', 'United Kingdom', 'United States of America']
for country in countries:
    data_2010_summary.loc[:, country] = data_2010_summary[country].apply(remove_non_numeric).astype(float)

# Replace any resulting NaN values with 0
data_2010_summary.loc[:, countries] = data_2010_summary[countries].fillna(0)

In [16]:
data_2010_summary.dtypes

Sex                          object
GHE cause                    object
Cause Category               object
Disease/Injury               object
Condition                    object
Germany                     float64
Netherlands                 float64
Switzerland                 float64
United Kingdom              float64
United States of America    float64
dtype: object

In [ ]:
# # Replace non-numeric values with NaN in data_2010_summary
# data_2010_summary.iloc[2:, 6:11] = data_2010_summary.iloc[2:, 6:11].replace('.', np.nan) 

# # Convert columns to float in data_2010_summary  
# data_2010_summary.iloc[2:, 6:11] = data_2010_summary.iloc[2:, 6:11].astype(float)

# # Print updated data_2010_summary
# print(data_2010_summary)

In [ ]:
# data_2010_summary_copy = data_2010_summary.copy()
# data_2010_summary_copy.iloc[2:, 6:11] = data_2010_summary_copy.iloc[2:, 6:11].replace('.', np.nan).astype(float)

In [ ]:
# data_2010_summary.iloc[3:, 5:] = data_2019_summary.iloc[3:, 5:].apply(pd.to_numeric, errors='coerce')

# print(data_2010_summary)

In [ ]:
# data_2019_summary.dtypes

In [ ]:

# top_values_2010 = changehere.iloc[6:11, 2:6].apply(lambda x: x.nlargest(12), axis=1)

In [ ]:
# for country, values in top_values_2010.iteritems():
#     print("Country:", country)
#     print(values)
#     print()