In [1]:
import pandas as pd
import numpy as np

In [2]:
data_2010 = pd.read_csv('Resources/ghe2010csv.csv', header = 6)
data_2015 = pd.read_csv('Resources/ghe2015csv.csv', header = 6)
data_2019 = pd.read_csv('Resources/ghe2019csv.csv', header = 6)

In [3]:
data_2010.columns = data_2010.columns.str.replace('Unnamed: 4', 'Cause Category').str.replace('Unnamed: 5', 'Disease/Injury').str.replace('Member State\n(See Notes for explanation of colour codes)', 'Condition')
data_2015.columns = data_2015.columns.str.replace('Unnamed: 4', 'Cause Category').str.replace('Unnamed: 5', 'Disease/Injury').str.replace('Member State\n(See Notes for explanation of colour codes)', 'Condition')
data_2019.columns = data_2019.columns.str.replace('Unnamed: 4', 'Cause Category').str.replace('Unnamed: 5', 'Disease/Injury').str.replace('Member State\n(See Notes for explanation of colour codes)', 'Condition')

# data_2010

In [4]:
data_2010.columns = data_2010.columns.str.replace('Germany', '2010 Germany').str.replace('Netherlands', '2010 Netherlands').str.replace('Switzerland', '2010 Switzerland').str.replace('United Kingdom', '2010 UK').str.replace('United States of America', '2010 US')
data_2015.columns = data_2015.columns.str.replace('Germany', '2015 Germany').str.replace('Netherlands', '2015 Netherlands').str.replace('Switzerland', '2015 Switzerland').str.replace('United Kingdom', '2015 UK').str.replace('United States of America', '2015 US')
data_2019.columns = data_2019.columns.str.replace('Germany', '2019 Germany').str.replace('Netherlands', '2019 Netherlands').str.replace('Switzerland', '2019 Switzerland').str.replace('United Kingdom', '2019 UK').str.replace('United States of America', '2019 US')

# data_2010

In [5]:
data_2010 = data_2010[['Sex', 'GHE code', 'GHE cause', 'Cause Category',
       'Disease/Injury',
       'Condition', '2010 Germany', '2010 Netherlands','2010 Switzerland','2010 UK', '2010 US',]]
data_2015 = data_2015[['Sex', 'GHE code', 'GHE cause', 'Cause Category',
       'Disease/Injury',
       'Condition', '2015 Germany', '2015 Netherlands','2015 Switzerland','2015 UK', '2015 US',]]
data_2019 = data_2019[['Sex', 'GHE code', 'GHE cause', 'Cause Category',
       'Disease/Injury',
       'Condition', '2019 Germany', '2019 Netherlands','2019 Switzerland','2019 UK', '2019 US',]]

In [6]:
data_2010.loc[data_2010['Sex']=='Persons']
data_2015.loc[data_2015['Sex']=='Persons']
data_2019.loc[data_2019['Sex']=='Persons']

,Sex,GHE code,GHE cause,Cause Category,Disease/Injury,Condition,2019 Germany,2019 Netherlands,2019 Switzerland,2019 UK,2019 US
2,Persons,NaN,Population ('000) (2),NaN,NaN,NaN,"83,517","17,097","8,591","67,530","329,065"
3,Persons,0.0,All Causes,NaN,NaN,NaN,845.4,153.1,69.1,614.5,2949.2
4,Persons,10.0,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,40.2,9.2,3.3,50.1,156.4
5,Persons,20.0,A.,Infectious and parasitic diseases,NaN,NaN,16.2,3.5,1.0,7.4,73.4
6,Persons,30.0,NaN,1.0,Tuberculosis,NaN,0.3,0.0,0.0,0.4,0.5
...,...,...,...,...,...,...,...,...,...,...,...
202,Persons,1590.0,NaN,8.0,Other unintentional injuries,NaN,8.2,1.6,0.4,5.5,26.0
203,Persons,1600.0,B.,Intentional injuries,NaN,NaN,11.1,2.1,1.3,6.2,73.3
204,Persons,1610.0,NaN,1.0,Self-harm,NaN,10.3,2.0,1.2,5.3,53.1
205,Persons,1620.0,NaN,2.0,Interpersonal violence,NaN,0.8,0.1,0.0,0.9,19.0
206,Persons,1630.0,NaN,3.0,Collective violence and legal intervention,NaN,0.0,0.0,0.0,0.0,1.2

In [7]:
data_2010_summary = data_2010.loc[data_2010['Sex']=='Persons']
data_2015_summary = data_2015.loc[data_2015['Sex']=='Persons']
data_2019_summary = data_2019.loc[data_2019['Sex']=='Persons']

# data_2010_summary

In [8]:
merge_columns = ['GHE code', '2015 Germany', '2015 Netherlands','2015 Switzerland','2015 UK', '2015 US']
merged_2010_2015 = pd.merge(data_2010_summary, data_2015_summary[merge_columns], left_on='GHE code', right_on='GHE code',
                            how='left')

# merged_2010_2015

In [9]:
merge_columns2 = ['GHE code', '2019 Germany', '2019 Netherlands','2019 Switzerland','2019 UK', '2019 US']
mortality_tmi = pd.merge(merged_2010_2015, data_2019_summary[merge_columns2], left_on='GHE code', right_on='GHE code',
                            how='left')

In [10]:
mortality_tmi

,Sex,GHE code,GHE cause,Cause Category,Disease/Injury,Condition,2010 Germany,2010 Netherlands,2010 Switzerland,2010 UK,...,2015 Germany,2015 Netherlands,2015 Switzerland,2015 UK,2015 US,2019 Germany,2019 Netherlands,2019 Switzerland,2019 UK,2019 US
0,Persons,NaN,Population ('000) (2),NaN,NaN,NaN,"80,827","16,683","7,809","63,460",...,"81,787","16,938","8,297","65,860","320,878","83,517","17,097","8,591","67,530","329,065"
1,Persons,0.0,All Causes,NaN,NaN,NaN,836.9,135.3,62.0,568.3,...,928.9,146.2,67.8,619.2,2713.5,845.4,153.1,69.1,614.5,2949.2
2,Persons,10.0,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,38.8,8.6,2.3,41.6,...,46.5,8.5,3.1,49.9,153.3,40.2,9.2,3.3,50.1,156.4
3,Persons,20.0,A.,Infectious and parasitic diseases,NaN,NaN,15.8,2.3,0.8,6.5,...,21.0,3.7,0.9,7.5,73.7,16.2,3.5,1.0,7.4,73.4
4,Persons,30.0,NaN,1.0,Tuberculosis,NaN,0.4,0.1,0.0,0.4,...,0.3,0.0,0.0,0.4,0.5,0.3,0.0,0.0,0.4,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Persons,1590.0,NaN,8.0,Other unintentional injuries,NaN,5.7,1.4,0.4,4.6,...,7.0,1.4,0.4,4.7,22.4,8.2,1.6,0.4,5.5,26.0
201,Persons,1600.0,B.,Intentional injuries,NaN,NaN,11.5,1.8,1.2,6.1,...,11.6,2.1,1.3,6.7,65.8,11.1,2.1,1.3,6.2,73.3
202,Persons,1610.0,NaN,1.0,Self-harm,NaN,10.7,1.6,1.1,5.0,...,10.9,2.0,1.2,5.8,46.2,10.3,2.0,1.2,5.3,53.1
203,Persons,1620.0,NaN,2.0,Interpersonal violence,NaN,0.8,0.2,0.1,1.0,...,0.8,0.1,0.1,0.9,18.4,0.8,0.1,0.0,0.9,19.0
204,Persons,1630.0,NaN,3.0,Collective violence and legal intervention,NaN,0.0,0.0,0.0,0.1,...,0.0,0.0,0.0,0.0,1.3,0.0,0.0,0.0,0.0,1.2

In [11]:
mortality_data = mortality_tmi.drop(columns =['Sex', 'GHE code'])
mortality_data

,GHE cause,Cause Category,Disease/Injury,Condition,2010 Germany,2010 Netherlands,2010 Switzerland,2010 UK,2010 US,2015 Germany,2015 Netherlands,2015 Switzerland,2015 UK,2015 US,2019 Germany,2019 Netherlands,2019 Switzerland,2019 UK,2019 US
0,Population ('000) (2),NaN,NaN,NaN,"80,827","16,683","7,809","63,460","309,011","81,787","16,938","8,297","65,860","320,878","83,517","17,097","8,591","67,530","329,065"
1,All Causes,NaN,NaN,NaN,836.9,135.3,62.0,568.3,2470.5,928.9,146.2,67.8,619.2,2713.5,845.4,153.1,69.1,614.5,2949.2
2,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,38.8,8.6,2.3,41.6,140.7,46.5,8.5,3.1,49.9,153.3,40.2,9.2,3.3,50.1,156.4
3,A.,Infectious and parasitic diseases,NaN,NaN,15.8,2.3,0.8,6.5,69.8,21.0,3.7,0.9,7.5,73.7,16.2,3.5,1.0,7.4,73.4
4,NaN,1.0,Tuberculosis,NaN,0.4,0.1,0.0,0.4,0.6,0.3,0.0,0.0,0.4,0.5,0.3,0.0,0.0,0.4,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,NaN,8.0,Other unintentional injuries,NaN,5.7,1.4,0.4,4.6,20.6,7.0,1.4,0.4,4.7,22.4,8.2,1.6,0.4,5.5,26.0
201,B.,Intentional injuries,NaN,NaN,11.5,1.8,1.2,6.1,59.0,11.6,2.1,1.3,6.7,65.8,11.1,2.1,1.3,6.2,73.3
202,NaN,1.0,Self-harm,NaN,10.7,1.6,1.1,5.0,40.5,10.9,2.0,1.2,5.8,46.2,10.3,2.0,1.2,5.3,53.1
203,NaN,2.0,Interpersonal violence,NaN,0.8,0.2,0.1,1.0,16.9,0.8,0.1,0.1,0.9,18.4,0.8,0.1,0.0,0.9,19.0
204,NaN,3.0,Collective violence and legal intervention,NaN,0.0,0.0,0.0,0.1,1.6,0.0,0.0,0.0,0.0,1.3,0.0,0.0,0.0,0.0,1.2

In [12]:
mortality_data.columns

Index(['GHE cause', 'Cause Category', 'Disease/Injury', 'Condition',
       '2010 Germany', '2010 Netherlands', '2010 Switzerland', '2010 UK',
       '2010 US', '2015 Germany', '2015 Netherlands', '2015 Switzerland',
       '2015 UK', '2015 US', '2019 Germany', '2019 Netherlands',
       '2019 Switzerland', '2019 UK', '2019 US'],
      dtype='object')

In [13]:
columns_to_convert = ['2010 Germany', '2010 Netherlands', '2010 Switzerland', '2010 UK',
       '2010 US', '2015 Germany', '2015 Netherlands', '2015 Switzerland',
       '2015 UK', '2015 US', '2019 Germany', '2019 Netherlands',
       '2019 Switzerland', '2019 UK', '2019 US']

#copy df
mortality_data_copy = mortality_data.copy()

# Convert specified columns to float 
mortality_data_copy[columns_to_convert] = mortality_data_copy[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Check the data types of columns
print("\nData Types:")
print(mortality_data_copy.dtypes)

Data Types:
GHE cause            object
Cause Category       object
Disease/Injury       object
Condition            object
2010 Germany        float64
2010 Netherlands    float64
2010 Switzerland    float64
2010 UK             float64
2010 US             float64
2015 Germany        float64
2015 Netherlands    float64
2015 Switzerland    float64
2015 UK             float64
2015 US             float64
2019 Germany        float64
2019 Netherlands    float64
2019 Switzerland    float64
2019 UK             float64
2019 US             float64
dtype: object

In [14]:
mortality_data_copy

,GHE cause,Cause Category,Disease/Injury,Condition,2010 Germany,2010 Netherlands,2010 Switzerland,2010 UK,2010 US,2015 Germany,2015 Netherlands,2015 Switzerland,2015 UK,2015 US,2019 Germany,2019 Netherlands,2019 Switzerland,2019 UK,2019 US
0,Population ('000) (2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All Causes,NaN,NaN,NaN,836.9,135.3,62.0,568.3,2470.5,928.9,146.2,67.8,619.2,2713.5,845.4,153.1,69.1,614.5,2949.2
2,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,38.8,8.6,2.3,41.6,140.7,46.5,8.5,3.1,49.9,153.3,40.2,9.2,3.3,50.1,156.4
3,A.,Infectious and parasitic diseases,NaN,NaN,15.8,2.3,0.8,6.5,69.8,21.0,3.7,0.9,7.5,73.7,16.2,3.5,1.0,7.4,73.4
4,NaN,1.0,Tuberculosis,NaN,0.4,0.1,0.0,0.4,0.6,0.3,0.0,0.0,0.4,0.5,0.3,0.0,0.0,0.4,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,NaN,8.0,Other unintentional injuries,NaN,5.7,1.4,0.4,4.6,20.6,7.0,1.4,0.4,4.7,22.4,8.2,1.6,0.4,5.5,26.0
201,B.,Intentional injuries,NaN,NaN,11.5,1.8,1.2,6.1,59.0,11.6,2.1,1.3,6.7,65.8,11.1,2.1,1.3,6.2,73.3
202,NaN,1.0,Self-harm,NaN,10.7,1.6,1.1,5.0,40.5,10.9,2.0,1.2,5.8,46.2,10.3,2.0,1.2,5.3,53.1
203,NaN,2.0,Interpersonal violence,NaN,0.8,0.2,0.1,1.0,16.9,0.8,0.1,0.1,0.9,18.4,0.8,0.1,0.0,0.9,19.0
204,NaN,3.0,Collective violence and legal intervention,NaN,0.0,0.0,0.0,0.1,1.6,0.0,0.0,0.0,0.0,1.3,0.0,0.0,0.0,0.0,1.2

In [15]:
top_values_2010 = mortality_data_copy.iloc[6:11, 2:6].apply(lambda x: x.nlargest(12), axis=1)

TypeError: Cannot use method 'nlargest' with dtype object

In [ ]:

top_values_2010 = changehere.iloc[6:11, 2:6].apply(lambda x: x.nlargest(12), axis=1)

In [ ]:
for country, values in top_values_2010.iteritems():
    print("Country:", country)
    print(values)
    print()