In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
#import data

#mortality data
data_2010 = pd.read_csv('Resources/ghe2010csv.csv', header = 6)
data_2015 = pd.read_csv('Resources/ghe2015csv.csv', header = 6)
data_2019 = pd.read_csv('Resources/ghe2019csv.csv', header = 6)

#happiness data
data_c = Path('Resources/World Happiness Report.csv')
happy_df = pd.read_csv(data_c)

#world bank data
world_data= pd.read_csv('WorldBank_Data/WorldBank.csv')

In [3]:
#rename columns
data_2010.columns = data_2010.columns.str.replace('Unnamed: 4', 'Cause Category').str.replace('Unnamed: 5', 'Disease/Injury').str.replace('Member State\n(See Notes for explanation of colour codes)', 'Condition')
data_2015.columns = data_2015.columns.str.replace('Unnamed: 4', 'Cause Category').str.replace('Unnamed: 5', 'Disease/Injury').str.replace('Member State\n(See Notes for explanation of colour codes)', 'Condition')
data_2019.columns = data_2019.columns.str.replace('Unnamed: 4', 'Cause Category').str.replace('Unnamed: 5', 'Disease/Injury').str.replace('Member State\n(See Notes for explanation of colour codes)', 'Condition')

#rename columns
data_2010.columns = data_2010.columns.str.replace('Germany', '2010 Germany').str.replace('Netherlands', '2010 Netherlands').str.replace('Switzerland', '2010 Switzerland').str.replace('United Kingdom', '2010 UK').str.replace('United States of America', '2010 US')
data_2015.columns = data_2015.columns.str.replace('Germany', '2015 Germany').str.replace('Netherlands', '2015 Netherlands').str.replace('Switzerland', '2015 Switzerland').str.replace('United Kingdom', '2015 UK').str.replace('United States of America', '2015 US')
data_2019.columns = data_2019.columns.str.replace('Germany', '2019 Germany').str.replace('Netherlands', '2019 Netherlands').str.replace('Switzerland', '2019 Switzerland').str.replace('United Kingdom', '2019 UK').str.replace('United States of America', '2019 US')

#drop unneeded
data_2010 = data_2010[['Sex', 'GHE code', 'GHE cause', 'Cause Category',
       'Disease/Injury',
       'Condition', '2010 Germany', '2010 Netherlands','2010 Switzerland','2010 UK', '2010 US',]]
data_2015 = data_2015[['Sex', 'GHE code', 'GHE cause', 'Cause Category',
       'Disease/Injury',
       'Condition', '2015 Germany', '2015 Netherlands','2015 Switzerland','2015 UK', '2015 US',]]
data_2019 = data_2019[['Sex', 'GHE code', 'GHE cause', 'Cause Category',
       'Disease/Injury',
       'Condition', '2019 Germany', '2019 Netherlands','2019 Switzerland','2019 UK', '2019 US',]]

In [4]:
#transform
data_2010.loc[data_2010['Sex']=='Persons']
data_2015.loc[data_2015['Sex']=='Persons']
data_2019.loc[data_2019['Sex']=='Persons']

#rename
data_2010_summary = data_2010.loc[data_2010['Sex']=='Persons']
data_2015_summary = data_2015.loc[data_2015['Sex']=='Persons']
data_2019_summary = data_2019.loc[data_2019['Sex']=='Persons']

In [5]:
#merge dataframes
merge_columns = ['GHE code', '2015 Germany', '2015 Netherlands','2015 Switzerland','2015 UK', '2015 US']
merged_2010_2015 = pd.merge(data_2010_summary, data_2015_summary[merge_columns], left_on='GHE code', right_on='GHE code',
                            how='left')
merge_columns2 = ['GHE code', '2019 Germany', '2019 Netherlands','2019 Switzerland','2019 UK', '2019 US']
mortality_tmi = pd.merge(merged_2010_2015, data_2019_summary[merge_columns2], left_on='GHE code', right_on='GHE code',
                            how='left')

In [6]:
#drop more
mortality_data = mortality_tmi.drop(columns =['Sex', 'GHE code'])
mortality_data

#convert to the correct data type
columns_to_convert = ['2010 Germany', '2010 Netherlands', '2010 Switzerland', '2010 UK',
       '2010 US', '2015 Germany', '2015 Netherlands', '2015 Switzerland',
       '2015 UK', '2015 US', '2019 Germany', '2019 Netherlands',
       '2019 Switzerland', '2019 UK', '2019 US']

#copy df
mortality_data_copy = mortality_data.copy()

# Convert specified columns to float 
mortality_data_copy[columns_to_convert] = mortality_data_copy[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [7]:
#drop unwanted columns
dropped_mortality = mortality_data_copy.drop(columns= ['GHE cause', 'Cause Category', 'Disease/Injury'])

#drop rows with blank values
clean_mortality = dropped_mortality.dropna()

clean_mortality.columns

Index(['Condition', '2010 Germany', '2010 Netherlands', '2010 Switzerland',
       '2010 UK', '2010 US', '2015 Germany', '2015 Netherlands',
       '2015 Switzerland', '2015 UK', '2015 US', '2019 Germany',
       '2019 Netherlands', '2019 Switzerland', '2019 UK', '2019 US'],
      dtype='object')

In [8]:
#filter df into 5 df's by country
germany_all = clean_mortality[['Condition', '2010 Germany', '2015 Germany', '2019 Germany']]
netherlands_all = clean_mortality[['Condition', '2010 Netherlands', '2015 Netherlands', '2019 Netherlands']]
switzerland_all = clean_mortality[['Condition', '2010 Switzerland', '2015 Switzerland', '2019 Switzerland']]
uk_all = clean_mortality[['Condition', '2010 UK', '2015 UK', '2019 UK']]
us_all =clean_mortality[['Condition', '2010 US', '2015 US', '2019 US']]

#sort
#df.sort_values(by='', inplace=True)
germany_2010=germany_all.sort_values(by='2010 Germany', ascending=False)
germany_2010.head(10)

,Condition,2010 Germany,2015 Germany,2019 Germany
143,Ischaemic stroke,44.8,43.1,34.7
144,Haemorrhagic stroke,18.5,17.7,15.1
169,Other chronic kidney disease,15.5,19.8,16.3
156,Cirrhosis due to alcohol use,7.4,7.4,7.7
97,Non-Hodgkin lymphoma,6.7,7.2,7.2
168,Chronic kidney disease due to diabetes,6.6,7.9,6.5
98,Multiple myeloma,4.4,4.8,4.7
157,Other liver cirrhosis,3.8,4.0,4.1
75,Liver cancer secondary to alcohol use,3.6,3.9,3.8
80,Malignant skin melanoma,3.0,3.4,3.1

In [9]:
germany_2015=germany_all.sort_values(by='2015 Germany', ascending=False)
germany_2015.head(10)

,Condition,2010 Germany,2015 Germany,2019 Germany
143,Ischaemic stroke,44.8,43.1,34.7
169,Other chronic kidney disease,15.5,19.8,16.3
144,Haemorrhagic stroke,18.5,17.7,15.1
168,Chronic kidney disease due to diabetes,6.6,7.9,6.5
156,Cirrhosis due to alcohol use,7.4,7.4,7.7
97,Non-Hodgkin lymphoma,6.7,7.2,7.2
98,Multiple myeloma,4.4,4.8,4.7
157,Other liver cirrhosis,3.8,4.0,4.1
75,Liver cancer secondary to alcohol use,3.6,3.9,3.8
80,Malignant skin melanoma,3.0,3.4,3.1

In [10]:
germany_2019=germany_all.sort_values(by='2019 Germany', ascending=False)
germany_2019.head(10)

,Condition,2010 Germany,2015 Germany,2019 Germany
143,Ischaemic stroke,44.8,43.1,34.7
169,Other chronic kidney disease,15.5,19.8,16.3
144,Haemorrhagic stroke,18.5,17.7,15.1
156,Cirrhosis due to alcohol use,7.4,7.4,7.7
97,Non-Hodgkin lymphoma,6.7,7.2,7.2
168,Chronic kidney disease due to diabetes,6.6,7.9,6.5
98,Multiple myeloma,4.4,4.8,4.7
157,Other liver cirrhosis,3.8,4.0,4.1
75,Liver cancer secondary to alcohol use,3.6,3.9,3.8
68,Other pharynx,2.9,3.2,3.1

In [11]:
#filter happiness data into separate data frames

happy_filter = happy_df[happy_df['Country Name'].isin(['Switzerland', 'Netherlands', 'United Kingdom', 'United States', 'Germany'])]

switzerland = happy_df[happy_df['Country Name'].isin(['Switzerland'])]
netherlands = happy_df[happy_df['Country Name'].isin([ 'Netherlands'])]
uk = happy_df[happy_df['Country Name'].isin([ 'United Kingdom'])]
us = happy_df[happy_df['Country Name'].isin(['United States'])]
germany = happy_df[happy_df['Country Name'].isin(['Germany'])]

germany['Year'].unique()
#gather all unneeded years
years_to_exclude =[2005, 2007, 2008, 2009,2011, 2012, 2013, 2014, 2016,
       2017, 2018, 2020, 2021, 2022]
germany_three=germany[~germany['Year'].isin(years_to_exclude)]

germany_three.head(12)

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
692,Germany,Western Europe,2010,6.724531,10.757887,0.939309,70.000000,0.842656,0.090753,0.688006,0.697530,0.182344,0.395424
697,Germany,Western Europe,2015,7.037138,10.842699,0.925923,70.099998,0.889429,0.173345,0.412168,0.722385,0.202705,0.628004
701,Germany,Western Europe,2019,7.035472,10.894409,0.885667,70.900002,0.884752,0.052631,0.462255,0.712461,0.226171,0.568460

In [12]:
#scatter plot
#plt.scatter(switzerland['Generosity'], switzerland['Confidence In National Government'], label='Switzerland', marker='o')
#plt.scatter(netherlands['Generosity'], netherlands['Confidence In National Government'], label='Netherlands', marker='o')
#plt.scatter(uk['Generosity'], uk['Confidence In National Government'], label='United Kingdom', marker='o')
#plt.scatter(us['Generosity'], us['Confidence In National Government'], label='United States', marker='o')
#plt.scatter(germany['Generosity'], germany_2010['2010 Germany'], label='Germany', marker='o')

#plt.xlabel('Generosity')
#plt.ylabel('Confidence In National Government')
#plt.legend()
#plt.title('Confidence In National Government Over Time')

#plt.show()

In [15]:
#Healthy life expectancy for all

plt.figure(figsize=(10,6))

plt.plot(switzerland['Year'], switzerland['Healthy Life Expectancy At Birth'], label='Switzerland')
plt.plot(netherlands['Year'],netherlands['Healthy Life Expectancy At Birth'], label='Netherlands')
plt.plot(uk['Year'], uk['Healthy Life Expectancy At Birth'], label='United Kingdom')
plt.plot(germany['Year'], germany['Healthy Life Expectancy At Birth'], label='Germany')
plt.plot(us['Year'], us['Healthy Life Expectancy At Birth'], label='United States')

plt.xlabel('Year')
plt.ylabel('Healthy Life Expectancy At Birth')
plt.title('Healthy Life Expectancy Over Time')
plt.legend()
plt.show()

In [20]:
#Examine World Bank data

#world_data.columns
#world_data=world_data.drop(['Country Code', 'Series Code'], axis=1)
#world_data.head(8)
rows_to_drop=[0,1,2,3,4,5,6,7,8,10,11,13,15,16,17,18,19,20,22,23,24,25,26,28,29,30,33,34,35,36,37,38,39,40,42,43,44,45,46,47,48,50,51,
                 52,53,55,56,57,58,59,60,62,63,64,66,67,68,70]
world_data.drop(index=rows_to_drop,inplace=True)

#and filter into separate data frames by country
    #create df's to separate info into
unique_countries = world_data['Country Name'].unique()

rows_to_drop=[]
#iterate
for country in unique_countries:
            #collect names, make df
    df_name = f"{country}_df"
            #filter based on country
    globals()[df_name] = world_data[world_data['Country Name'] == country].reset_index(drop=True)
            #drop rows based on index

,Country Name,Country Code,Series Name,Series Code,2010 [YR2010],2015 [YR2015],2019 [YR2019]
0,Germany,DEU,"Children in employment, total (% of children a...",SL.TLF.0714.ZS,..,..,..
1,Germany,DEU,Control of Corruption: Estimate,CC.EST,1.76642882823944,1.77612352371216,1.86536622047424
2,Germany,DEU,Economic and Social Rights Performance Score,SD.ESR.PERF.XQ,2.3988815,2.400251878,..
3,Germany,DEU,Forest area (% of land area),AG.LND.FRST.ZS,32.7308718478354,32.7323281545606,32.6826755201923
4,Germany,DEU,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GB.ZS,9.11344146728516,9.63814353942871,9.71987533569336
5,Germany,DEU,Income share held by lowest 20%,SI.DST.FRST.20,8.4,8,7.9
6,Germany,DEU,Individuals using the Internet (% of population),IT.NET.USER.ZS,82,87.58979935,88.13451691
7,Germany,DEU,Net migration,SM.POP.NETM,267047,397921,360560
8,Germany,DEU,Population density (people per sq. km of land ...,EN.POP.DNST,234.606908225034,234.152986871524,237.822954291766
9,Germany,DEU,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,32.7974276527331,36.4500792393027,30.8885754583921

,Country Name,Country Code,Series Name,Series Code,2010 [YR2010],2015 [YR2015],2019 [YR2019]
12,Germany,DEU,Control of Corruption: Estimate,CC.EST,1.76642882823944,1.77612352371216,1.86536622047424
14,Germany,DEU,Economic and Social Rights Performance Score,SD.ESR.PERF.XQ,2.3988815,2.400251878,..
21,Germany,DEU,Forest area (% of land area),AG.LND.FRST.ZS,32.7308718478354,32.7323281545606,32.6826755201923
27,Germany,DEU,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GB.ZS,9.11344146728516,9.63814353942871,9.71987533569336
31,Germany,DEU,Income share held by lowest 20%,SI.DST.FRST.20,8.4,8,7.9
32,Germany,DEU,Individuals using the Internet (% of population),IT.NET.USER.ZS,82,87.58979935,88.13451691
41,Germany,DEU,Net migration,SM.POP.NETM,267047,397921,360560
49,Germany,DEU,Population density (people per sq. km of land ...,EN.POP.DNST,234.606908225034,234.152986871524,237.822954291766
54,Germany,DEU,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,32.7974276527331,36.4500792393027,30.8885754583921
61,Germany,DEU,"School enrollment, primary (% gross)",SE.PRM.ENRR,104.337593078613,102.702461242676,102.547470092773
65,Germany,DEU,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,..,6,6